[submodule "htdocs"]
	path = htdocs
	url = http://git.drupal.org/project/drupal.git
	branch = 7.x
[submodule "sites/all/modules/contrib/globalredirect"]
	path = sites/all/modules/contrib/globalredirect
	url = http://git.drupal.org/project/globalredirect.git
	branch = 7.x-1.x
[submodule "sites/all/modules/contrib/admin_menu"]
	path = sites/all/modules/contrib/admin_menu
	url = http://git.drupal.org/project/admin_menu.git
	branch = 7.x-3.x
[submodule "sites/all/modules/contrib/views"]
	path = sites/all/modules/contrib/views
	url = http://git.drupal.org/project/views.git
	branch = 7.x-3.x
[submodule "sites/all/modules/contrib/pathauto"]
	path = sites/all/modules/contrib/pathauto
	url = http://git.drupal.org/project/pathauto.git
	branch = 7.x-1.x
[submodule "sites/all/modules/contrib/google_analytics"]
	path = sites/all/modules/contrib/google_analytics
	url = http://git.drupal.org/project/google_analytics.git
	branch = 7.x-2.x
[submodule "sites/all/modules/contrib/xmlsitemap"]
	path = sites/all/modules/contrib/xmlsitemap
	url = http://git.drupal.org/project/xmlsitemap.git
	branch = 7.x-2.x
[submodule "sites/all/modules/contrib/elysia_cron"]
	path = sites/all/modules/contrib/elysia_cron
	url = http://git.drupal.org/project/elysia_cron.git
	branch = 7.x-2.x
[submodule "sites/all/modules/contrib/metatag"]
	path = sites/all/modules/contrib/metatag
	url = http://git.drupal.org/project/metatag.git
	branch = 7.x-1.x
[submodule "sites/all/modules/contrib/wysiwyg"]
	path = sites/all/modules/contrib/wysiwyg
	url = http://git.drupal.org/project/wysiwyg.git
	branch = 7.x-2.x
[submodule "sites/all/modules/contrib/imce"]
	path = sites/all/modules/contrib/imce
	url = http://git.drupal.org/project/imce.git
	branch = 7.x-1.x
[submodule "sites/all/modules/contrib/imce_wysiwyg"]
	path = sites/all/modules/contrib/imce_wysiwyg
	url = http://git.drupal.org/project/imce_wysiwyg.git
	branch = 7.x-1.x
[submodule "sites/all/modules/contrib/wysiwyg_filter"]
	path = sites/all/modules/contrib/wysiwyg_filter
	url = http://git.drupal.org/project/wysiwyg_filter.git
	branch = 7.x-1.x
[submodule "sites/all/modules/contrib/transliteration"]
	path = sites/all/modules/contrib/transliteration
	url = http://git.drupal.org/project/transliteration.git
	branch = 7.x-3.x
[submodule "sites/all/modules/contrib/subpathauto"]
	path = sites/all/modules/contrib/subpathauto
	url = http://git.drupal.org/project/subpathauto.git
	branch = 7.x-1.x
[submodule "sites/all/modules/contrib/panels"]
	path = sites/all/modules/contrib/panels
	url = http://git.drupal.org/project/panels.git
	branch = 7.x-3.x
[submodule "sites/all/modules/contrib/token"]
	path = sites/all/modules/contrib/token
	url = http://git.drupal.org/project/token.git
	branch = 7.x-1.x
[submodule "sites/all/modules/contrib/ctools"]
	path = sites/all/modules/contrib/ctools
	url = http://git.drupal.org/project/ctools.git
	branch = 7.x-1.x
[submodule "sites/all/modules/contrib/modernizr"]
	path = sites/all/modules/contrib/modernizr
	url = http://git.drupal.org/project/modernizr.git
	branch = 7.x-3.x
[submodule "sites/all/modules/contrib/ds"]
	path = sites/all/modules/contrib/ds
	url = http://git.drupal.org/project/ds.git
	branch = 7.x-2.x
[submodule "sites/all/modules/contrib/devel"]
	path = sites/all/modules/contrib/devel
	url = http://git.drupal.org/project/devel.git
	branch = 7.x-1.x
[submodule "sites/all/modules/contrib/admin_views"]
	path = sites/all/modules/contrib/admin_views
	url = http://git.drupal.org/project/admin_views.git
	branch = 7.x-1.x
[submodule "sites/all/modules/contrib/views_bulk_operations"]
	path = sites/all/modules/contrib/views_bulk_operations
	url = http://git.drupal.org/project/views_bulk_operations.git
	branch = 7.x-3.x
[submodule "sites/all/modules/contrib/entity"]
	path = sites/all/modules/contrib/entity
	url = http://git.drupal.org/project/entity.git
	branch = 7.x-1.x
